

main{
    margin-left: 20px;
}
h1, h2, h3 {
    color: #2c3e50;
}
.section,.section1,.section2,.section3,.section4, .section5 {

    background: linear-gradient( rgb(255, 255, 255) , #c3f3ff)  ;
    color: black;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.section1{
    background: linear-gradient( rgb(196, 238, 255) , #f190fa)  ;
    color: black;
}
.section2{
    background: linear-gradient( #f190fa , #c1eef7)  ;
    color: black;
}
.section3{
    background: linear-gradient(  #c1eef7, rgb(255, 118, 255))  ;
    color: black;
}
.section4{
    background: linear-gradient( rgb(255, 118, 255), rgb(181, 243, 245))  ;
    color: black;
}
.section5{
    background: linear-gradient(  rgb(181, 243, 245), rgb(255, 255, 255))  ;
    color: black;
}

section
.hidden {
    display: none;
}
button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    transition: background-color 0.3s;
}
button:hover {
    background-color: #2980b9;
}
ul, ol {
    padding-left: 20px;
}
.tech-stack {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.tech-item {
    align-items: center;
    padding: 5px 10px;
    background-color: rgb(135, 241, 255);
    margin: auto;
    border-radius: 15px;
    font-size: 0.9em;
}

iframe {
    border: none;
    width: 700px;
    height: 390px; 
}

.img-det{
    width: 110vh;
}

.img-sim{
    width: 90vh;
}

@media only screen and (max-width: 767px) {
    iframe {
        border: none;
        width: 320px;
        height: 180px; 
    }
    .img-det{
        width: 35vh;
    }
    
    .img-sim{
        width: 32vh;
    }
}

footer{
    color: rgb(0, 0, 0);
}